extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
    section#introSection 
        div Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nostrum voluptatem impedit amet suscipit ipsam dolores dolorem debitis facere, saepe expedita, nesciunt cum ullam earum delectus voluptate praesentium nihil recusandae odio ipsa error voluptatibus laudantium eaque. Veniam, odit repellendus illum numquam ea vitae! Perferendis recusandae voluptatem ex totam, odit adipisci inventore, porro quos saepe eius a! Id rem, quis dolor placeat non ex molestias vitae quasi similique officiis recusandae enim, dignissimos sed nemo quos beatae saepe perspiciatis. Nostrum enim voluptate modi. Eveniet pariatur necessitatibus vel odit neque laudantium consequuntur libero ex illum officiis fuga, molestias eligendi recusandae voluptatibus non. Est.